
:root{
    --color1:#F5F7F7;
    --color2:#EDB518;
    --color3:#79031D;
    --color4:#000407;
    
}

.footer{
  background-image: linear-gradient(to right bottom, #070002, #141011, #1d191a, #262324, #2f2c2d);
    color: var(--color1);
    padding: 50px 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .container{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
 .column{
    flex: 1;
    margin: 0 20px;
  }
 .bottomBar{
    border-top: 1px solid #555;
    padding:20px 0;
  }
  ul{
    list-style-type: none;
  }
  ul li{
    padding: 5px;
  }
  ul li a{
    color: var(--color1);
    transition: 0.5s;
  }
  
  ul li a:hover{
    color: var(--color2);
  }
  
  