:root{
    --color1:#254c51;    
    --color2:#6c8589;
    --color3:#cedcdd;
    --color4:#000c08;
    --linear:linear-gradient(to right bottom, #070002, #1a1415, #292022, #382d2f, #493a3c);
    --linear2:linear-gradient(to right top, #f5f7f7, #b1b4b4, #727576, #393c3d, #000407);
  }
  

.workout-container {
        text-align: center;
        padding: 20px;
       }
       
        
.email-form {
    margin-bottom: 20px;
}

.email-input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

.fetch-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    margin: 20px;
    transition: 0.5s ease-out;
}
.fetch-button:hover{
    background-color: var(--color2);
}

.workout-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.workout-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    background-color: #f9f9f9;
    margin: 20px;
    color: var(--color2);
}

.workout-plans-section {
    margin-top: 30px;
}

.workout-card p {
    margin: 0;
}