:root{
    --color1:#F5F7F7;
    --color2:#EDB518;
    --color3:#79031D;
    --color4:#000407;
    --linear:linear-gradient(to right bottom, #070002, #1a1415, #292022, #382d2f, #493a3c);
    --linear2:linear-gradient(to right top, #f5f7f7, #b1b4b4, #727576, #393c3d, #000407);
}

.video{
    width: 100%;
    border-radius: 30px;
    padding-right: 25px;
}

.container_about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    /* margin: 30px; */
    background-image: var(--linear2);
}

.text-about{
    padding: 30px;
    margin: 30px;
}
.text-about .title_about{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.text-about .title_about span{
    color: var(--color2);
}

.text-about p{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    text-transform: capitalize;
}

/* classes images */

   .images-container{
    display: flex;
    flex-wrap: wrap;
    
    }
     .images-container .box{
        position: relative;
        overflow: hidden;
    }
    @media(min-width:768px){
         .images-container .box{
            flex-basis: 50%;
        }
    }
    @media(min-width:1199px){
         .images-container .box{
            flex-basis: 25%;
        }
    }
    
     .images-container .box img{
        max-width: 100%;
    }
     .images-container .box:hover .caption
    {
    bottom: 0;
    
    }
     .images-container .box:hover img{
        transform: rotate(3deg) scale(1.1);
    }
    
     .images-container .box .caption{
        position: absolute;
        left: 0;
        padding: 20px;
        background-image: var(--linear);
        width: 100%;
        transition: 0.3s;
        bottom: -100%;
    }
     .images-container .box .caption h4{
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color2);
    text-transform: capitalize;
    }
     .images-container .box .caption p{
    color: var(--color1);
    }