:root{
    --color1:#254c51;    
    --color2:#6c8589;
    --color3:#cedcdd;
    --color4:#000c08;
    --linear:linear-gradient(to right bottom, #070002, #1a1415, #292022, #382d2f, #493a3c);
    --linear2:linear-gradient(to right top, #f5f7f7, #b1b4b4, #727576, #393c3d, #000407);
}

body {
    background-color: var(--color3);
    /* height: 5000px; */
  }
  
  h2 {
    margin: 45px;
    font-weight: 600;
  }
    
    .containerr{
        background-image: url("../../images/home.jpg");
        background-color: var(--color3);
        height: 100vh;
        width: 100%;  
        background-size: cover;
        background-position: center;
        /* margin-bottom: 100px; */
    }
    .containerr .banner{
          margin: auto;
        }
        .banner .right-banner
        {
            color: white;
            padding: 30px;
            /* margin: 15px; */
            text-align: center;
        }
        
        .right-banner h1 {
            font-size: 80px;
            text-transform: uppercase;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: -3px;
            transition: 700ms ease;
            font-variation-settings: "wght" 311;
            margin-bottom: 0.8rem;
            color: white;
            outline: none;
            text-align: center;
            animation: h1 5s infinite;
          }
          
          @keyframes h1 {
            from { color: white;}
            to {color: var(--color3);}
          }
          
         .right-banner h1:hover {
            font-variation-settings: "wght" 582; 
            letter-spacing: 1px;
          }
          .right-banner h2{
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 0px;
          }
          .right-banner h2 span{
            font-size: 34px;
            font-weight: bold;
            color: var(--color1);
            letter-spacing: 6px;
            }
            .btn{
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: 12px;
                font-size: 1rem;
                font-family: inherit;
                background-color: var(--color2);
                color: var(--color4);
                border: 1px solid transparent;
                transition: 0.3s ease all;
                margin: auto;
            }
            
            .btn:hover {
                border-color: var(--color2);
                background-color: var(--color3);
                color: var(--color1);
            }
            .butt{
            display: flex;
           align-items: center;
            justify-content: center;
           }
           
            .cards{
            background-color: var(--color1);
            display: flex;
             align-items: center;
             justify-content: center;
             flex-wrap: wrap;
             gap: 50px;
             padding: 30px;
             cursor: pointer;
             border: none;
           }
           .cards .card{
           background-color: var(--color3);
           border-radius: 15px;
            padding: 15px;
            color: var(--color1);
            transition: 0.5s ease-out;
            border: none;
            width: 300px;
           }
           .card .image {
            width: 260px;
            height: 201px;
            border-radius: 10px;
           }
           
           .card-body {
            padding:0;
        }
           
           .cards .card:hover {
            transform: translateY(-5px); 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
            }         
           .cards .card:hover Button{
           
           background-color: var(--color4);
           color: var(--color3);
           }
           
           .cards .card:hover .title{
            color: var(--color1);
            font-weight: bold;
            font-size:20px ;
            }
            .cards .card:hover .text{
                color: var(--color1);
                font-weight: bold;
                } 
           
           .title{
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: var(--color4);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 15px;
           }
           .text{
            /* text-align: center; */
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 1.5;
            color: var(--color4);
            font-weight: bold;
           }
           
           .title_cards{
            background-image: url("../../images/services.jpg");
            height: 30vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            text-align: center;
            font-size: 80px;
            text-transform: uppercase;
            color:white;
            font-weight: bold;
            animation: h1 5s infinite;

           }
           
           @keyframes h1 {
            from { color: white;}
            to {color: var(--color3);}

          }
           
           /* counter */
           
           .counter_number{
            background-image: url("../../images/counter1.jpg");
            height: 25vh;
            width: 100%;
            background-size: cover;
            text-align: center;

           }
           
           .counter_number .numbers{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            }
            
            .number{
              margin-right: 10px;
              margin-left: 10px;

            }
            
               /* Media query for smaller screens */
@media (max-width: 768px) {
  .numbers {
flex-direction: column;
padding-bottom: 50px;
color: var(--color2);
  }
  .counter_number{
    height: 55vh;
  }
}
            
            .number .counter{
              font-weight: bold;
              font-style: italic;
              font-size: 1.9em;
              margin: 6px 0;
              color: var(--color4);
            }
            
            .number span {
              font-size: 1.2em;
              display: block;
              color: var(--color3);
              font-size: 25px;
              font-weight: bold;
            }
            .slick-dots {
              position: absolute;
              bottom: 16px;
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              text-align: center;
            }
            
            .terminals h3{
              font-size: 35px;
              font-weight: bold;
              color: var(--color2);
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            .Testimonials h1{
              text-align: center;
            
            }
            
            .Testimonials{
              background-image: url("../../images/services.jpg");
              height: 30vh;
              width: 100%;
              background-size: cover;
              background-position: center;
              text-align: center;
              font-size: 30px;
              text-transform: uppercase;
              color: white;
              font-weight: bold;
              padding: 10px;
              margin: 0;
              animation: h1 5s infinite;

            }
            @keyframes h1 {
              from { color: white;}
              to {color: var(--color3);}
            }
            
            .slick-slide {
              height: 31vh; 
              min-height: 1px;
              text-align: center;
              font-size: 23px;
              font-weight: 500;
              /* background-image: linear-gradient(to right top, #79031d, #590a37, #2e173a, #0c1527, #000407); */
              background-image: linear-gradient(to right bottom, #070002, #1a1415, #292022, #382d2f, #493a3c);

              padding-top: 45px;
              color: var(--color1);
            }
            
            .slick-prev:before, .slick-next:before{
              font-family: 'slick';
              font-size: 20px;
              line-height: 1;
              opacity: .75;
              color: white;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: absolute;
              right: 233%;
              display: none;
            }
            
            /* cards service */
            
            /* .cards {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              gap: 1rem;
              padding: 1rem;
            }
            
            .card {
              background: #fff;
              border-radius: 8px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              overflow: hidden;
              margin: 1rem;
              display: flex;
              flex-direction: column;
            }

            
            .card img {
              width: 100%;
              height: 200px;
              object-fit: cover;
            }
            
            .card-body {
              padding: 1rem;
              flex: 1;
              display: flex;
              flex-direction: column;
            }
            
            .card-title {
              font-size: 1.25rem;
              font-weight: bold;
              margin-bottom: 0.5rem;
            }
            
            .card-text {
              flex: 1;
              font-size: 1rem;
              margin-bottom: 1rem;
            }
            
            .card button {
              background-color: #007bff;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 0.5rem 1rem;
              cursor: pointer;
              align-self: start;
            }
            
            .card button:hover {
              background-color: #0056b3;
            }
             */
            
            
            /* TrainerCard.css */
.trainer-card {
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  width: 200px;
  text-align: center;
  transition: transform 0.6s;
  cursor: pointer;
  margin-top: 30px;
}

.trainer-card:hover{
  transform: translateY(-8px);
  box-shadow: 6px 8px 10px var(--color3);
  background-color: var(--color3, 0.8);
  color: var(--color1);
}

.trainer-card h3{
  font-size: 15px;
  font-weight: bold;
  color: var(--color4);
}

.trainer-card p{
  font-size: 14px;
  font-weight: 500;
}
.trainer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* background-image: linear-gradient(to right top, #f5f7f7, #b1b4b4, #727576, #393c3d, #000407); */
  background-color: var(--color2);
}



.trainer-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}



.Trainers{
  background-image: url("../../images/services.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  animation: h1 5s infinite;

}

@keyframes h1 {
  from { color: white;}
  to {color: var(--color3);}

}


/* PricingPlan.module.css */

.plans{
  background-image: url("../../images/services.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  animation: h1 5s infinite;

}

@keyframes h1 {
  from { color: white;}
  to {color: var(--color3);}
}


.plan{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 50px;
}
.pricing-plan {
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  width: 290px;
  text-align: center;
  box-shadow: 6px 8px 10px rgba(108, 106, 106, 0.5); /* Add box shadow */
  transition: 0.5s ease-out;
  cursor: pointer;
  
}

.pricing-plan:hover {
  transform: translateY(-5px); /* Move the card up on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8); /* Change box shadow on hover */
  }


.plan h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center; 
  color: var(--color2);
}

.plan h3 {
  font-size: 22px;
  margin-bottom: 20px;
  background: var(--color2);
  color: var(--color3);
  padding: 6px;
  border-radius: 11px;
  text-align: center;
  font-weight: bold;
}

.plan ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  font-size: 15px;
  text-align: left;
}

.plan li {
  margin-bottom: 20px;
}

.plan button {
  background-color: var(--color2);
  color: var(--color4);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.plan button:hover {
  background-color: var(--color4);
  color: var(--color3);
}


/* Accordion */

.accordion{
  background-image: url("../../images/services.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  animation: h1 5s infinite;

}

@keyframes h1 {
  from { color: white;}
  to {color: var(--color3);}

}
.accordion-contact {
  background-image: url("../../images/services.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.accordio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
  max-width: 96%;
  margin-left: 20px;
  flex-wrap: wrap;
}

.cont {
  background-color: var(--color1);
  padding: 50px;
}

.text_accordion {
  color: var(--color3);
}

.accordio-container .cardsss {
  background-color: var(--color2);
  transition: 0.5s ease-in-out;
  flex: 1 1 calc(33.333% - 40px);
  margin: 10px;
}

.accordio-container .cardsss:hover {
  background-color: var(--color3);
}

.accordio-container .cardsss:hover .text_accordion {
  color: var(--color1);
}

.accordio-container .cardsss:hover .card-content {
  color: var(--color1);
}

@media (max-width: 768px) {
  .accordion-contact {
    font-size: 24px;
  }

  .accordio-container {
    flex-direction: column;
    align-items: stretch;
    margin-left: 10px;
  }

  .accordio-container .cardsss {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .accordion-contact {
    font-size: 20px;
  }

  .cont {
    padding: 20px;
  }

  .accordio-container .cardsss {
    margin: 10px 0;
  }
}

  .css-animoo {
    width: 101%;
    padding: 0;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
  }
  
  /* form contact */

  .form-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding: 23px;
    flex-wrap: wrap; 
    margin: 0;
  }
.container-form{
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color1);
}

.container-form input{
  background-color: var(--color3);
}
.container-form textarea{
  background-color: var(--color3);
}

.txt-contact{
  text-align: center;
  padding: 30px;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  /* background-image: var(--linear2); */
  background-color: var(--color1);
  
}

.txt-contact span{
  color: var(--color3);
}

.txt-contact h3{
    font-size: 35px;
    font-weight: 200;
    text-transform: capitalize;
    margin-top: 40px;

}

.txt-contact p{
     font-size: 15px;
    text-transform: capitalize;
    color: var(--color3);
}

.txt-contact h3 span{
  color: var(--color3);
  font-weight: bold;
}

/* ------------------payment_form --------------------------------*/

.pay-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.pay-cont img{
  width: 770px;
  height: 470px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 70px auto;
  padding: 35px;
  /* border: 1px solid; */
  border-radius: 20px;
  transition: 0.5s  all ease;
  cursor: pointer;
}

.payment-form:hover{
  background-color: var(--color3);
}

.payment-label {
  margin-bottom: 10px;
}

.payment-input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--color2);
}

.payment-error {
  color: red;
  margin-bottom: 10px;
}

.payment-button {
  padding: 10px;
  background-color: var(--color1);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.payment-button:hover {
  background-color: var(--color4);
}

/* testimonials gym */

/* TestimonialsSlider.css */
.testimonial {
  margin: 20px;
  background-color: var(--color3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease-in;
}

.testimonial:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);

}

.testimonial-text {
  font-size: 20px;
  line-height: 2;
  color: var(--color1);
  font-weight: 600;
}

.testimonial-author {
  margin-top: 10px;
  font-style: italic;
  color: var(--color4);
  font-weight: 300;
}

.testimonial-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
