:root{
    --color1:#254c51;    
    --color2:#6c8589;
    --color3:#cedcdd;
    --color4:#000c08;
    --linear:linear-gradient(to right bottom, #070002, #1a1415, #292022, #382d2f, #493a3c);
    --linear2:linear-gradient(to right top, #f5f7f7, #b1b4b4, #727576, #393c3d, #000407);
}

.image {
    display: inline-block;
    padding-right: 25px;
  }
  
  .image img {
    width: 100%;
    border-radius: 30px;
    display: block; /* To prevent inline-block gaps if present */
  }

.container_about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color1);
}

.text-about{
    padding: 30px;
    margin: 30px;
}
.text-about .title_about{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.text-about .title_about span{
    color: var(--color3);
}

.text-about p{
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color3);
}

@media (min-width: 768px) {
    .text-about {
      flex: 1;
      text-align: left;
    }
  
    .video {
      max-width: 600px;
    }
  }
/* cards */
.card-containerr {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    background-color: var(--color1);    
  }
  
  .cart {
    max-width: 470px; 
    border: 1px solid #ddd;
    margin: 10px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);  
    transition: box-shadow 0.56s ease-in-out; 
    background-color: var(--color3);
    border-radius: 25px;
    
    }
    .cart:hover{
        cursor: pointer;
        box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);   
        }
  
  .cart h2 {
    margin-top: 0;
    text-align: center;
    color: #121212;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    font-size: 30px;
    font-weight: bold;
    
  }
  
  .cart p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center ;
    letter-spacing: 2px;
  }
  
  .section_last{
  }
  .ttext-about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    
  }
  
  .ttext-about p{
  
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color3);
    margin-left: 30px;
    
    }
  .ttext-about img{
    width: 530px;
    height: 500px;
    padding: 20px;
    margin: 15px;
    border-radius: 50px;
  }
  